<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find Persons</title>
</head>
<body>
<h1>Find Persons</h1>
<form action="#" th:action="@{/findPersons}" th:object="${persons}" method="post">
    <p>Id: <label>
        <input type="number" th:field="*{id}" />
    </label></p>
    <p>Date Of Birth: <label>
        <input type="text" th:field="*{dateOfBirth}" />
    </label></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>